/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  span.menu-icon {
    display: block;
  }
}