.main {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f567ae;
  
  // Tambahkan code untuk h1 dibawah
  h1 {
    color:#f8f8f8;
    font-size:34px;
  }
  
  // Tambahkan code untuk tag p dibawah
  p {
    color:#efefef;
    font-size:16px;
  }
}
