ul {
  list-style: none;
  margin: 0px;
  padding: 60px 0px;
  text-align: center;
}
li {
  color: white;
  height: 80px;
  line-height: 80px;
}
.li1 {
  background-color: #ffc562;
}
.li2 {
  background-color: #a0c3f7;
}
.li3 {
  background-color: #ff8db3;
}
.li4 {
  background-color: #88e7ce;
}

.flex-list {
  display: flex;
}

/* Tetapkan property flex di element .flex-list li */
.flex-list li {            
  flex: auto;            
}


