<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Edit Item</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">Item</p>
        <form action="/update/<%= item.id %>" method="post">
          <input type="text" name="itemName" value="<%= item.name %>">
          <input type="submit" value="Perbarui">
        </form>
      </div>
      <a href="/index" class="cancel-button">Kembali</a>
    </div>
  </body>
</html>