body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /* Gantikan property float ke left */
  float: left;
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

/* Gantikan font-size milik header-logo ke 36px, dan property float ke left */
.header-logo {
  font-size: 36px;
  float: left;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}