/* Import file _variables.scss */
@import "variables";

@mixin card($color) {
  padding: 40px 28px;
	margin: 16px 8px;
	display: inline-block;
	border-radius: 3px;
	background-color: $color;
	img {
		margin: 16px auto 20px;
		display: block;
	}
	a {
	  padding: 16px 32px;
		background-color: #ffffff;
		border-radius: 26px;
		display: inline-block;
		color: $color;
		&:hover {
			color: #ffffff;
			background-color: darken($color, 10%);
		}
	}
	h4 {
	  color: darken($color, 20%);
	}
}

body {   
  min-width: 460px;
	text-align: center;
	font-family: "Hiragino Kaku Gothic ProN";
	background-color: #f0f5fc;
}

header {
	width: 100%;
	padding: 10px 0;
	display: inline-block;
	background-color: #7579a3;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}

.profile {
	padding: 56px 0;
	margin: 0 auto 32px;
	background-color: #ffffff;
	.info {
		margin-top: 16px;
		p {
			color: #2b546a;
		}
	}
}

.html {
  /* Ganti nilai dibawah dengan sebuah variable */
  @include card($html);
}

.javascript {
  /* Ganti nilai dibawah dengan sebuah variable */
  @include card($javascript);
}


footer {
	margin: 100px 0 32px;
	color: #2b546a;
	font-size: 14px;
	text-align: center;
}