body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: left;
  /* Ubahlah padding atas & bawah ke 33px, dan padding kiri & kana ke 20px */
  padding: 33px 20px;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kana ke 40px */
  padding: 20px 40px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
