body {   
  min-width: 460px;
	text-align: center;
	font-family: "Hiragino Kaku Gothic ProN";
	background-color: #f0f5fc;
}

header {
	width: 100%;
	padding: 10px 0;
	display: inline-block;
	background-color: #7579a3;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}

/* Tambahkan code Anda disini */
.profile {
  padding: 56px 0;
  margin: 0 auto 32px;
  background-color: #ffffff;
  .info {
    margin-top: 16px;
    p {
      color: #2b546a;
    }
  }
}

footer {
	margin: 100px 0 32px;
	color: #2b546a;
	font-size: 14px;
	text-align: center;
}