body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  /* Gantikan background-color ke #2f5167 */
  background-color: #2f5167;
  
  /* Gantikan color ke #fff */
  color: #fff;
  
  /* Gantikan height ke 120px */
  height: 120px;
  
  /* Gantikan padding untuk semua sisi ke 40px */
  padding: 40px;
  
}

/* Gantikan font-size dan property float footer-logo */
.footer-logo {
  font-size: 32px;
  float: left;
}

/* Gantikan float property footer-list */
.footer-list {
  float: right;
}

/* Tambahkan CSS untuk tag <li> kedalam footer-list */
.footer-list li {
  padding-bottom: 20px;
}
