.container {
  margin: 20px;
}

.item {
  width: 25%;
  float: left;
}

.item-box {
  height: 100px;
  margin-bottom: 20px;
}

.green {
  background-color: #11D8B3;
}

.yellow {
  background-color: #FFD466;
}

.red {
  background-color: #ED456D;
}

.blue {
  background-color: #3D7DD8;
}

/* Untuk Tablet */
/* Tambahkan breakpoint max-width: 1000px */
@media (max-width: 1000px) {
  .item {
    width: 50%;
  }
}

/* Untuk Smartphone */
/* Tambahkan breakpoint max-width: 670px */
@media (max-width: 670px) {
  .item {
    width: 100%;
  }
}